<template>
  <v-calendar :attributes="setAttr" />
</template>

<script>
export default {
  name: "ToDoCalendar",
  props: {
    list: {
      type: Array,
      default: () => {},
    },
  },

  data: () => ({}),
  computed: {
    setAttr: function () {
      let attrsArray = [];

      for (let i in this.list) {
        let todo = this.list[i];

        if (todo.date != null) {
          const event = {
            dot: true,
            dates: this.convert(todo.date),
            popover: {
              label: `${todo.title} : ${todo.detail}`,
            },
          };
          attrsArray.push(event);
        }
      }
      return attrsArray;
    },
  },

  methods: {
    convert(dateText) {
      let arr = dateText.replace('"', "").split("-");
      return new Date(parseInt(arr[0]), parseInt(arr[1]) - 1, parseInt(arr[2]));
    },
  },
};
</script>

<style></style>
