<template>
  <tr>
    <td>{{ title }}</td>
    <td>{{ detail }}</td>
    <td>{{ date }}</td>
    <v-row>
      <v-col>
        <v-btn icon color="success" @click="editDialog = true">
          <v-icon>mdi-file-edit</v-icon>
        </v-btn>
        <v-dialog v-model="editDialog">
          <v-card width="600">
            <v-card-title>編集</v-card-title>
            <v-card-text>
              <v-row>
                <v-col>タイトル</v-col>
                <v-col>詳細</v-col>
                <v-col>日時</v-col>
              </v-row>
              <v-row>
                <v-col>{{ title }}</v-col>
                <v-col>{{ detail }}</v-col>
                <v-col>{{ date }}</v-col>
              </v-row>
              <v-row>
                <v-col><v-icon>mdi-arrow-down</v-icon></v-col>
                <v-col><v-icon>mdi-arrow-down</v-icon></v-col>
                <v-col><v-icon>mdi-arrow-down</v-icon></v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-text-field v-model="tempTitle" label="title" />
                </v-col>
                <v-col>
                  <v-text-field v-model="tempDetail" label="detail" />
                </v-col>
                <v-col>
                  <v-text-field v-model="tempDate" label="date" />
                </v-col>
              </v-row>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn @click="confirm">OK</v-btn>
              <v-btn @click="editDialog = false">Cancel</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

        <v-btn icon color="success" @click="deleteDialog = true">
          <v-icon>mdi-delete</v-icon>
        </v-btn>
        <v-dialog v-model="deleteDialog">
          <v-card width="400">
            <v-card-title>確認</v-card-title>
            <v-card-text>
              以下のToDoを削除しますか？ <br /><br />
              タイトル：{{ title }} <br />
              詳細：{{ detail }} <br />
              日時：{{ date }}
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn @click="remove">Yes</v-btn>
              <v-btn @click="deleteDialog = false">No</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-col>
    </v-row>
  </tr>
</template>

<script>
export default {
  name: "ToDo",
  props: {
    id: {
      type: Number,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    detail: {
      type: String,
      default: "",
    },
    date: {
      type: String,
      default: "",
    },
  },
  emits: ["edit-confirm-task", "remove-task"],

  data: () => ({
    tempId: 0,
    tempTitle: "",
    tempDetail: "",
    tempDate: "",
    editDialog: false,
    deleteDialog: false,
  }),

  methods: {
    remove() {
      this.$emit("remove-task", this.id);
    },
    confirm() {
      if (this.tempDate == "") {
        this.tempDate = null;
      }
      this.$emit(
        "edit-confirm-task",
        this.id,
        this.tempTitle,
        this.tempDetail,
        this.tempDate
      );
      this.editDialog = false;
    },
  },
};
</script>

<style></style>
