<template>
  <v-row>
    <v-btn :disabled="isListGotten" class="getButton ml-5" @click="getList">
      データベースからToDo一覧を獲得
    </v-btn>
  </v-row>
  <br />
  <br />
  <template v-if="todoList.length == 0">
    <span class="no-task ml-6">タスクがありません</span>
  </template>
  <template v-else>
    <v-row>
      <v-col cols="3" class="search ml-3">
        検索欄<v-text-field v-model="keyword" label="keyword" />
      </v-col>
    </v-row>
    <v-row>
      <v-col v-show="isPostReqDinied" class="register-failed mb-3 ml-3">
        登録に失敗しました
      </v-col>
      <v-col v-show="isPutReqDinied" class="update-failed mb-3 ml-3">
        更新に失敗しました
      </v-col>
    </v-row>
    <table class="todo-table ml-6">
      <tr>
        <th class="text-left">タイトル</th>
        <th class="text-left">詳細</th>
        <th class="text-left">日時</th>
      </tr>
      <ToDo
        v-for="todo in filterToDoList"
        :id="todo.id"
        :key="todo.id"
        :title="todo.title"
        :detail="todo.detail"
        :date="todo.date"
        @edit-confirm-task="edit"
        @remove-task="remove"
      />
    </table>
    <br />

    <v-row class="todoCalendar-button ml-3">
      <v-col v-show="!isCalendarAppeared">
        <v-btn @click="isCalendarAppeared = true">カレンダーを開く</v-btn>
      </v-col>
      <v-col v-show="isCalendarAppeared">
        <v-btn @click="isCalendarAppeared = false">カレンダーを閉じる</v-btn>
      </v-col>
    </v-row>

    <v-row justify="center">
      <ToDoCalendar
        v-show="isCalendarAppeared"
        justify="center"
        :list="filterToDoList"
      />
    </v-row>
  </template>
</template>

<script>
import ToDo from "@/components/ToDo.vue";
import ToDoCalendar from "@/components/ToDoCalendar.vue";
import axios from "axios";
import SettingCORS from "../../setting";
export default {
  name: "ToDoList",
  components: {
    ToDo,
    ToDoCalendar,
  },
  emits: ["get-task"],
  data: () => ({
    todoList: [],
    keyword: "",
    isListGotten: false,
    isPostReqDinied: false,
    isPutReqDinied: false,
    isCalendarAppeared: false,
  }),
  computed: {
    filterToDoList: function () {
      let myself = this;

      let todos = [];
      for (let i in myself.todoList) {
        let todo = myself.todoList[i];

        if (
          todo.title.indexOf(myself.keyword) != -1 ||
          todo.detail.indexOf(myself.keyword) != -1 ||
          todo.date.indexOf(myself.keyword) != -1
        ) {
          todos.push(todo);
        }
      }
      return todos;
    },
  },
  methods: {
    getList() {
      let myself = this;

      //データベースから取得処理
      SettingCORS;
      axios
        .get("/todos")
        .then(function (response) {
          //success
          for (let i = 0; i < response.data[1].length; i++) {
            let todo_data = JSON.parse(JSON.stringify(response.data[1][i]));

            const newTodo = {
              id: todo_data.id,
              title: todo_data.title,
              detail: todo_data.detail,
              date: todo_data.date,
            };
            myself.todoList.push(newTodo);
          }
          myself.isListGotten = true;
          myself.$emit("get-task");
        })
        .catch(function (error) {
          //error
          console.log(error);
        });
    },
    register(title, detail, date) {
      let myself = this;
      const newTodo = {
        //登録前にDB上のIDはわからないため、登録時は-1として登録後にDBから真のIDを持ってくる
        id: -1,
        title: title,
        detail: detail,
        date: date,
      };

      //データベースへの登録処理
      axios
        .post("/todos", {
          title: title,
          detail: detail,
          date: date,
        })
        .then(function (response) {
          console.log(response);

          myself.todoList.push(newTodo);
          myself.sortList();
          //登録したToDoのIDを取得
          myself.getID(newTodo);
          myself.isPostReqDinied = false;
        })
        .catch(function (error) {
          console.log("register error");
          console.log(error);
          myself.isPostReqDinied = true;
        });
    },
    edit(id, title, detail, date) {
      let myself = this;

      //データベースへの更新処理
      axios
        .put(`/todos/${id}`, {
          title: title,
          detail: detail,
          date: date,
        })
        .then(function (response) {
          for (let i = 0; i < myself.todoList.length; i++) {
            if (id == myself.todoList[i].id) {
              myself.todoList[i].title = title;
              myself.todoList[i].detail = detail;
              myself.todoList[i].date = date;
            }
          }
          myself.sortList();
          console.log(response);
          myself.isPutReqDinied = false;
        })
        .catch(function (error) {
          console.log(error);
          myself.isPutReqDinied = true;
        });
    },
    remove(id) {
      let myself = this;
      let deleteIndex = -1;
      console.log("remove: id = %d", id);
      for (let i = 0; i < myself.todoList.length; i++) {
        if (id == myself.todoList[i].id) {
          deleteIndex = i;
        }
      }
      myself.todoList.splice(deleteIndex, 1);

      //データベースへの削除処理
      axios
        .delete(`/todos/${id}`)
        .then(function (response) {
          console.log(response);
        })
        .catch(function (error) {
          console.log(error);
        });
    },
    sortList() {
      let myself = this;
      for (let i = 0; i < myself.todoList.length - 1; i++) {
        for (let j = 0; j < myself.todoList.length - 1; j++) {
          if (myself.todoList[j].date > myself.todoList[j + 1].date) {
            let tempTodo = myself.todoList[j];
            myself.todoList[j] = myself.todoList[j + 1];
            myself.todoList[j + 1] = tempTodo;
          }
        }
      }
    },
    getID(newTodo) {
      //新規登録時に実際のDBから本当のIDを引っ張ってくるメソッド
      let myself = this;
      let index = -1;
      for (let i = 0; i < myself.todoList.length; i++) {
        if (myself.todoList[i].id == -1) {
          index = i;
        }
      }

      axios
        .get("/todos")
        .then(function (response) {
          //success
          console.log(response);
          for (let i = 0; i < response.data[1].length; i++) {
            let todo_data = JSON.parse(JSON.stringify(response.data[1][i]));

            if (
              newTodo.title == todo_data.title &&
              newTodo.detail == todo_data.detail &&
              newTodo.date == todo_data.date
            ) {
              myself.todoList[index].id = todo_data.id;
            }
          }
        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>

<style></style>
