<template>
  <div id="app">
    <v-app>
      <h1 class="page-title ml-3">ToDo List</h1>
      <v-row class="input-label ml-3">
        <v-col cols="2">タイトル</v-col>
        <v-col cols="2">詳細</v-col>
        <v-col cols="2">日時</v-col>
      </v-row>
      <v-row class="input-form ml-3">
        <v-col cols="2">
          <v-text-field v-model="text_title" label="title" />
        </v-col>
        <v-col cols="2">
          <v-text-field v-model="text_detail" label="detail" />
        </v-col>
        <v-col cols="2">
          <v-text-field v-model="text_date" label="date" />
        </v-col>
        <v-col>
          <v-btn :disabled="isDisabled" @click="add">新規追加</v-btn>
        </v-col>
      </v-row>

      <ToDoList ref="list" @get-task="get" />
    </v-app>
  </div>
</template>

<script>
import ToDoList from "@/components/ToDoList.vue";
export default {
  name: "App",
  components: {
    ToDoList,
  },
  data: () => ({
    text_title: "",
    text_detail: null,
    text_date: null,
    isAfterGetList: false,
  }),
  computed: {
    isDisabled() {
      //一覧取得前に新規登録すると仕様上要素が被るので、
      //一覧獲得後かつタイトルが記入されているときだけ新規登録を許可する
      if (this.text_title.length > 0 && this.isAfterGetList) {
        return false;
      } else {
        return true;
      }
    },
  },
  methods: {
    add() {
      this.$refs.list.register(
        this.text_title,
        this.text_detail,
        this.text_date
      );
      this.text_title = "";
      this.text_detail = null;
      this.text_date = null;
    },
    get() {
      this.isAfterGetList = true;
    },
  },
};
</script>

<style></style>
